.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#1E212D90,#1E212D90), url(../../assets/images/charlesdeluvio-NVRRZ5pxX4Q-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainSquare{
width: 1297px;
height: 525px;


background: rgba(29, 26, 38, 0.8);
box-shadow: 0px 0px 55px rgba(55, 55, 55, 0.6);
border-radius: 0px 66px 66px 66px;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallSqContainer{
display: flex;
flex-direction: row;
}

.smallSq{
width: 278px;
height: 73px;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

background: rgba(29, 26, 38, 0.5);
box-shadow: 0px 0px 55px rgba(188, 188, 192, 0.15);
border-radius: 66px 66px 0px 0px;
transform: translateX(-93px);
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 1.6em;
line-height: 39px;
text-align: center;
letter-spacing: 0.05em;
cursor: pointer;
}

.smallSq:hover, .smallSq:active, .smallSq:visited, .smallSq:focus{
    background: rgba(29, 26, 38, 0.7);
}

.textArea{
    resize: none;
    width: 1105px;
height: 325px;

background: rgba(36, 37, 43, 0.37);
border: 3px solid rgba(248, 248, 248, 0.95);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 28px;
color: white;
font-size: 16px;
font-family: 'Inter';
font-weight: 400;
padding: 12px 20px;
}

.btnPrimary{
    width: 263px;
    height: 61px;


    background: #FFFFFF;
    border: 3px solid rgba(248, 248, 248, 0.95);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1.4em;
line-height: 34px;
text-align: center;
letter-spacing: 0.05em;
transform: translateX(160px);

color: #323038;
cursor: pointer;
}

.btnSecondary{
    width: 213px;
    height: 61px;
    left: 407px;
    top: 694px;

    background: rgba(18, 16, 47, 0.62);
    border: 3px solid rgba(248, 248, 248, 0.95);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 1.4em;
line-height: 34px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
cursor: pointer;
}

.containerButtons{
    margin-top: 1.2em;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.btnPrimary:hover{
    transform: translate(150px,-3%);
}
.btnSecondary:hover{
    transform: translate(0px,-3%);
}

.urlArea {
    resize: none;
    width: 1105px;
height: 65px;

background: rgba(36, 37, 43, 0.37);
border: 3px solid rgba(248, 248, 248, 0.95);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 28px;
color: white;
font-size: 16px;
font-family: 'Inter';
font-weight: 400;
padding: 18px 22px;
}

.searchIcon {
    width: 42px;
    height: 42px;
    background-image: url(../../assets/images/bx_search-alt.png);
    transform: translate(-64px,10px);
}

.urlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(20px);
}

.boxInput{
    width: 1110px;
    height: 266px;

    background: rgba(36, 37, 43, 0.37);
    border: 3px solid rgba(248, 248, 248, 0.95);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxFile{
    //visibility: hidden;
    display: none;
    width: 100%;
    height: 100%;
}

.uploadImg{
    width: 74px;
    height: 74px;
    background-image: url(../../assets/images/entypo_upload.png);
    margin-top: 1em;
}

.uploadedImg{
    width: auto;
    height: 215px;
    margin-top: 1em;
}

.textUpload {
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
}

.lblUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive area */
@media only screen and (max-width: 450px) {

    .mainSquare{
        width: 382px;
        height: 513px;
        border-radius: 0px 0px 15px 15px;

    }

    .boxInput{
        width: 318px;
        height: 162px;
    }

    .uploadImg{
        width: 34px;
        height: 35px;
        background-image: url(../../assets/images/entypo_uploadsmall.png);

    }

    .textUpload {
        font-size: 14px;
        line-height: 17px;
    }

    .smallSq{
        width: 95px;
        height: 37.95px;
        transform: translateX(0px);

        font-size: 14px;
        font-weight: 300;
    }
    .containerButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .btnPrimary, .btnPrimary1{
        width: 255px;
        height: 56px;
    }
    .btnSecondary .btnSecondary1{
        width: 255px;
        height: 56px;
    }
    .textArea{
        width: 318px;
        height: 162px;
    }
    .urlArea{
        width: 316.69px;
        height: 54px;
        border-radius: 14px;
        font-size: 14px;
        padding: 1em;
    }
    .searchIcon{
        transform: translate(-50px, 6px);
        width: 30.16px;
        height: 30px;
        background-image: url(../../assets/images/bx_search-alt-small.png);

    }
    .btnPrimary{
        transform: translateX(20px);
    }
    .btnSecondary1{
        transform: translateX(20px);
    }
    .btnSecondary{
        transform: translateX(20px);
    }
    .btnPrimary:hover{
        transform: translateX(20px);
    }
}

.btnPrimary1{
    width: 263px;
    height: 61px;


    background: #FFFFFF;
    border: 3px solid rgba(248, 248, 248, 0.95);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1.4em;
line-height: 34px;
text-align: center;
letter-spacing: 0.05em;

color: #323038;
cursor: pointer;
}

.btnSecondary1{
    width: 213px;
    height: 61px;
    left: 407px;
    top: 694px;

    background: rgba(18, 16, 47, 0.62);
    border: 3px solid rgba(248, 248, 248, 0.95);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 1.4em;
line-height: 34px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
cursor: pointer;
}

.imageRecieved{
    position: fixed;
    transform: translate(-500px);
}


